<html>

  <head>
     <link rel="stylesheet" type="text/css" href="location_maker.css" />
    
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="location_maker.js"></script>
  </head>
  
  <body>
    <div id="pMain">
  
      <h1>Location Maker</h1>
      
      <div id="respMsgArea"></div>
      
      <form id="frmLocation">

        <p>
          <span class="lbl">Y val</span>
          <span class="field">
            <input id="locnYVal" type="text" size="3">
            (1-20)
          </span>
        </p>
        
        <p>
          <span class="lbl">X val</span>
          <span class="field">
            <input id="locnXVal" type="text" size="3">
            (1-20)
          </span>
        </p>
        
        <p>
          <span class="lbl">Short Label</span>
          <span class="field">
            <input id="locnShortLbl" type="text" size="20">
          </span>
        </p>
      
        <p>
          <span class="lbl">Area</span>
          <span class="field">
            <input id="locnArea" type="text">
          </span>
        </p>
      
        <p>
          <span class="lbl">Description</span>
          <span class="field">
            <textarea id="locnDescription" cols="80" rows="8"></textarea>
          </span>
        </p>
        
        <p>
          <div class="lbl">Exit(s)</div>
          <div class="field">
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="n">
              <span class="cBox">N</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="ne">
              <span class="cBox">NE</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="e">
              <span class="cBox">E</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="se">
              <span class="cBox">SE</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="s">
              <span class="cBox">S</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="sw">
              <span class="cBox">SW</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="w">
              <span class="cBox">W</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="nw">
              <span class="cBox">NW</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="u">
              <span class="cBox">Up</span>
            </div>
            <div class="cBoxUnit">
              <input type="checkbox" name="locnExits" value="d">
              <span class="cBox">Down</span>
            </div>
            
          </div>
        </p>
        <br>     

        <p>
          <span class="lbl">Storey</span>
          <span class="field">
            <select id="locnStorey">
              <option value="0">0 (underground)</option>
              <option value="1">1 (ground level)</option>
              <option value="2">2 (above ground)</option>
            </select>
          </span>
        </p>
        
        <p>
          <span class="lbl">Image</span>
          <span class="field">
            <input id="locnImage" type="file" />
          </span>
        </p>
        
        <p>
          <span class="lbl">Finish</span>
          <span class="field">
            <input id="locnSubmit" type="button" value="Submit" />
            <input id="locnReset" type="button" value="Reset" />
          </span>
        </p>
      
      </form>
      
      <div id="testArea"></div>

    </div> <!-- end of #pMain -->    
  </body>
  
</html>
