<html>

  <head>
      <!-- Hello wanderer default index! -->
     <link rel="stylesheet" type="text/css" href="{{ asset('bundles/adventurewanderer/css/init_entry.css') }}" />
      </head>
  
  <body>
    <div id="pMain">
    
    <h1>Sections</h1>
    
    <p><a href="{{ path('_wanderer_init_entry') }}">Admin entry page</a></p>
    <p><a href="{{ path('_wanderer_activity_main') }}">Activity Main page</a></p>

    </div> <!-- end of #pMain -->    
  </body>
  
</html>
