      <form id="frmItems" data-route="{{ path('_wanderer_init_add') }}">
      
        <p>
          <span class="lbl">Name</span>
          <span class="field">
            <input id="itemName" type="text" size="30">
          </span>
        </p>
        
        <p>
          <span class="lbl">Description</span>
          <span class="field">
            <textarea id="itemDescription" cols="80" rows="8"></textarea>
          </span>
        </p>
        
        <p>
          <span class="lbl">Image</span>
          <span class="field">
            <input id="itemImage" type="file" />
          </span>
        </p>
        
       <p>
          <div class="lbl">Utility</div>
          <div class="field">
          
            <div class="cBoxUnit">
              <span class="cBox">breakable</span>
              <input type="checkbox" name="itemUtility" value="breakable">
            </div>
            
            <div class="cBoxUnit">
              <span class="cBox">climbable</span>
              <input type="checkbox" name="itemUtility" value="climbable">
            </div>
              
            <div class="cBoxUnit">
              <span class="cBox">lightable</span>
              <input type="checkbox" name="itemUtility" value="lightable">
            </div>

             <div class="cBoxUnit">
              <span class="cBox">openable</span>
              <input type="checkbox" name="itemUtility" value="openable">
            </div>

             <div class="cBoxUnit">
              <span class="cBox">takeable</span>
              <input type="checkbox" name="itemUtility" value="takeable">
            </div>
  
          </div>
        </p>
        <br> 

        <p>
          <div class="lbl">State</div>
          <div class="field">
          
            <div class="cBoxUnit">
              <span class="cBox">open</span>
              <input type="checkbox" name="itemState" value="open">
            </div>
            
            <div class="cBoxUnit">
              <span class="cBox">useable</span>
              <input type="checkbox" name="itemState" value="useable">
            </div>
            
            <div class="cBoxUnit">
              <span class="cBox">lit</span>
              <input type="checkbox" name="itemState" value="lit">
            </div>
                       
          </div>
        </p>
        <br>   
          
        <p>
          <span class="lbl">Uses Remaining</span>
          <span class="field">
            <input id="itemUsesRemaining" type="text" size="3">
          </span>
        </p>  
        <br>
    
        <p>
          <span class="lbl">Y val</span>
          <span class="field">
            <input id="itemYVal" type="text" size="3">
            (0-19)
          </span>
        </p>
        
        <p>
          <span class="lbl">X val</span>
          <span class="field">
            <input id="itemXVal" type="text" size="3">
            (0-19)
          </span>
        </p>
        
         <p>
          <span class="lbl">Storey val</span>
          <span class="field">
            <input id="itemStoreyVal" type="text" size="3">
            (0-2)
          </span>
        </p>
        
        <p>
          <span class="lbl">Finish</span>
          <span class="field">
            <input id="itemSubmit" type="button" value="Submit" />
            <input id="itemReset" type="button" value="Reset" />
          </span>
        </p>
      
      </form>
