<form id="frmWeapons" data-route="{{ path('_wanderer_init_entry_add') }}">
       
        <p>
          <span class="lbl">Name</span>
          <span class="field">
            <input id="weaponName" type="text" size="30">
          </span>
        </p>
      
        <p>
          <span class="lbl">Description</span>
          <span class="field">
            <textarea id="weaponDescription" cols="80" rows="8"></textarea>
          </span>
        </p>
      
        <fieldset>
        <legend>Damage1</legend>        
        <p>
          <span class="lbl">Type</span>
          <span class="field">
            <select id="weaponDmg1Type">
              <option value="b">b(bludgeon)</option>
              <option value="c">c(curse)</option>
              <option value="f">f(fire)</option>
              <option value="m">m(magic)</option>
              <option value="p">p(piercing)</option>
              <option value="o">o(poison)</option>
              <option value="r">r(ranged)</option>
            </select>
          </span>
        </p>

        <p>
          <span class="lbl">Minimum</span>
          <span class="field">
            <input id="weaponDmg1Min" type="text" size="4">
          </span>(1-1000)    
        
        <p>
          <span class="lbl">Maximum</span>
          <span class="field">
            <input id="weaponDmg1Max" type="text" size="4">
          </span>(1-1000)
        </p>        
        </fieldset>
        
        <fieldset>
        <legend>Damage2</legend>        
        <p>
          <span class="lbl">Type</span>
          <span class="field">
            <select id="weaponDmg2Type">
              <option value="b">b(bludgeon)</option>
              <option value="c">c(curse)</option>
              <option value="f">f(fire)</option>
              <option value="m">m(magic)</option>
              <option value="p">p(piercing)</option>
              <option value="o">o(poison)</option>
              <option value="r">r(ranged)</option>
            </select>
          </span>
        </p>

        <p>
          <span class="lbl">Minimum</span>
          <span class="field">
            <input id="weaponDmg2Min" type="text" size="4">
          </span>(1-1000)    
        
        <p>
          <span class="lbl">Maximum</span>
          <span class="field">
            <input id="weaponDmg2Max" type="text" size="4">
          </span>(1-1000)
        </p>        
        </fieldset>
        
        <fieldset>
        <legend>Bonus</legend>  
         <p>
          <span class="lbl">Status Type</span>
          <span class="field">
            <div class="cBoxUnit">
              <span class="cBox">str</span>
              <input type="radio" name="weaponBonusStatusType" value="str">
            </div>
            <div class="cBoxUnit">
              <span class="cBox">dex</span>
              <input type="radio" name="weaponBonusStatusType" value="dex">
            </div>
            <div class="cBoxUnit">
              <span class="cBox">con</span>
              <input type="radio" name="weaponBonusStatusType" value="con">
            </div>
            <div class="cBoxUnit">
              <span class="cBox">wis</span>
              <input type="radio" name="weaponBonusStatusType" value="wis">
            </div>
            <div class="cBoxUnit">
              <span class="cBox">itg</span>
              <input type="radio" name="weaponBonusStatusType" value="itg">
            </div>
            <div class="cBoxUnit">
              <span class="cBox">char</span>
              <input type="radio" name="weaponBonusStatusType" value="char">
            </div>
          </span>
        </p><br><br>
        
        <p>
          <span class="lbl">Status Val</span>
          <span class="field">
            <input id="weaponBonusStatusVal" type="text" size="4">
          </span>(1-100)
        </p> 
        </fieldset>
        
        <fieldset>
        <legend>Required</legend>  
         <p>
          <span class="lbl">Level</span>
          <span class="field">
            <input id="weaponReqdLevel" type="text" size="4">
          </span>(1-20)
        </p> 
        
        <p>
          <span class="lbl">Class</span>
          <span class="field">
            <select id="weaponReqdClass">
              <option value="f">f(fighter)</option>
              <option value="h">h(healer)</option>
              <option value="s">s(sneaker)</option>
              <option value="p">p(spellcaster)</option>
            </select>
          </span>
        </p>
        </fieldset>
        
        <p>
          <span class="lbl">Y val</span>
          <span class="field">
            <input id="weaponYVal" type="text" size="3">
            (1-20)
          </span>
        </p>
        
        <p>
          <span class="lbl">X val</span>
          <span class="field">
            <input id="weaponXVal" type="text" size="3">
            (1-20)
          </span>
        </p>
        
       
        
        <p>
          <span class="lbl">Image</span>
          <span class="field">
            <input id="weaponImage" type="file" />
          </span>
        </p>
        
        <p>
          <span class="lbl">Finish</span>
          <span class="field">
            <input id="weaponSubmit" type="button" value="Submit" />
            <input id="weaponReset" type="button" value="Reset" />
          </span>
        </p>
      
      </form>
